@import "var";
body{
  font-size: $font-size;
  font-family: $font-family;
  color: $primary-color;
  background-color:$primary-bg-color;
}
.primary-block{
  background-color:$primary-color;
  color: white;
}
.secondary-block{
  background-color:$secondary-bg-color;
  color: $secondary-color;
  &__title{
    color: $secondary-color;
  }
  &__link{
    color: $secondary-color;
    &:hover{
      text-decoration: none;
    }
  }
}
.active--bg{
  background-color: $active-color;
}




