@import "var";
body{
  font-size: $font-size;
  color: $primary-color;
  background-color:$primary-bg-color;
  font-family: $font-family;
}
.primary-block--bg{
  background-color:$primary-color;
}
.secondary-block--bg{
  background-color:$secondary-bg-color;
}
.btn-submit--color{
  background-color: #FFE180;
}





