.jumbotron{
    color: white;
    background-image: url("https://images.unsplash.com/photo-1547549082-6bc09f2049ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  &__list{
    transform: translateY(100%);
  }
  &__item{
    writing-mode:vertical-lr;
    // width: 250px;
    // min-height: 250px;
    color: white;
    font-size: 28px;
    background-color: rgba(63,93,69,0.6) ;
    // line-height: 250px;
    position: relative;
    &:hover{
      color: black;
      background-color: #ffe180;
      text-decoration: none;
      z-index: 99;
    }
    
  }
}