@import "var";
.inner-banner{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  
  .primary-block{
    background-color: rgba(0,0,0,0.2);
    &__list{
      transform: translateY(85%);
      @include sm{
        transform: translateY(105%);
       
      }
    }
    &__item{
      //writing-mode也會改變方向軸
      writing-mode:vertical-lr;
      color: goldenrod;
      font-size: 32px;
      // min-width: 250px;
      background-size: cover;
      background-position: center center;
      position: relative;
      transition: 0.3s;
      z-index: -1;
      @include xs{
        font-size: 16px;
      }
      @include md{
        font-size: 24px;
      }
      // @include lg{
      //   max-width: 250px;
      // }
      
      &:nth-child(1){
        // background-image: url("https://picsum.photos/800/600?random=1");
        background-image: url("https://bit.ly/2zBDAxX");
      }
      &:nth-child(2){
        // background-image: url("https://picsum.photos/800/600?random=2");
        background-image: url("https://bit.ly/2R5tqwD");
      }
      &:nth-child(3){
        // background-image: url("https://picsum.photos/800/600?random=3");
        background-image: url("https://bit.ly/2Qodh3Z");
      }
      &__link{
        color: white;
        -webkit-background-clip: text;
        background-clip: text;
        // background-image: url("https://picsum.photos/800/600?random=1");
        z-index: 99;
      }
      &::after{
        position: absolute;
        content: "";
        top: 0;
        left:0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0,0.3);
        transition: 0.3s;
      }
      &:hover{
        text-decoration: none;
        &::after{
          background-color: rgba(255,255,255,0.5);
          transform: scale(0.7);
        }
        .primary-block__item__link{
          background-color: rgba(0,0,0,0.5);
          color: #EEE;
          z-index: 99;
          
          // &::before{
          //   position: absolute;
          //   content: "";
          //   right:0;
          //   bottom: -1px;
          //   border-left:30px solid  transparent;
          //   border-right:30px solid  transparent;
          //   border-bottom:30px solid  $active-color;
          //   z-index: 99;
          // }
        }
      }
      
    }
  }
  &__index{
    // background-image: url("https://images.unsplash.com/photo-1547549082-6bc09f2049ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");
    background-image: url("https://bit.ly/2OhbMHr");
    margin-bottom: 220px;
    color: white;
    @include sm{
      margin-bottom: 300px;
    }
  }
  &__product{
    background-image: url("https://images.unsplash.com/photo-1547549082-6bc09f2049ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");
    .section__title--after::after{
      background-color:white ;
    }
  }
  &__success{
    background-image: url("https://images.unsplash.com/photo-1547549082-6bc09f2049ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");

  }
}

.inner-about, footer{
  .secondary-block{
    @include md{
      writing-mode:horizontal-tb;
      background-color: #EEE;
    }
    position: relative;
    z-index: -99;
    &::before{
      position: absolute;
      content: "";
      width: 100%;
      height: 5%;
      top: 0;
      left: 0;
      background-color:$primary-bg-color ;
      z-index: -1;
    }
    &::after{
      position: absolute;
      content: "";
      width: 100%;
      height: 5%;
      bottom: 0;
      left: 0;
      background-color:$primary-bg-color ;
      z-index: -1;
    }
    &__title{
      // 主標題區塊
      // 副標題，這裡的是副標題
      // 問題是，首頁的副標題要如何區隔
      font-size: 35px;
      writing-mode:vertical-lr;
      position: relative;
      line-height: 0.1;
      transform: translateY(-10px);
      @include md{
        writing-mode:horizontal-tb;
      }
      
      span{
        writing-mode: horizontal-tb;
        line-height: 1;
      }
      &--after{
        position: relative;
        &::after{
          position: absolute;
          content: "";
          width: 2px;
          height: 70px;
          background-color:$primary-color ;
          top: 0;
          right:0;
          transform: translate(70%, 20%);
          @include md{
            width: 70px;
            height: 2px;
            top: 50%;
            right:-35px;
          }
        }
      }
    }
    &__text{
      writing-mode:vertical-rl;
      line-height: 2.5;
      max-height: 400px;
      font-size: 18px;
      transform: translateY(20px);
      @include md{
        writing-mode:horizontal-tb;
        font-size: 20px;
        background-color:$secondary-bg-color;
      }
    }
    &__img{
      background-image: url("https://bit.ly/2xPn7Eq");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      position: absolute;
      width: 370px;
      min-height: 550px;
    }
    
  }
}
.section{
  &__index-description{
    
    
    .section__title{
      transform: translateY(-10px);
    }
    
  }
}
// .section{
//   &__title{
//     font-size: 42px;
//     writing-mode:vertical-lr;
//     position: relative;
//     line-height: 0;
//     @include sm{
//       writing-mode:horizontal-tb;
//     }
//     span{
//       writing-mode: horizontal-tb;
//       line-height: 1;
//     }
//     &--after{
//       position: relative;
//       &::after{
//         position: absolute;
//         content: "";
//         width: 2px;
//         height: 70px;
//         background-color:$primary-color ;
//         top: 0;
//         right:0;
//         transform: translate(70%, 20%);
//         @include sm{
//           width: 70px;
//           height: 2px;
//           top: 50%;
//           right:-35px;
//         }
//       }
//     }
//   }
//   &__index-description{
//     background-color: $secondary-bg-color;
//     position: relative;
//     z-index: -99;
//     &::before{
//       position: absolute;
//       content: "";
//       width: 100%;
//       height: 5%;
//       top: 0;
//       left: 0;
//       background-color:$primary-bg-color ;
//       z-index: -1;
//     }
//     &::after{
//       position: absolute;
//       content: "";
//       width: 100%;
//       height: 10%;
//       bottom: 0;
//       left: 0;
//       background-color:$primary-bg-color ;
//       z-index: -1;
//     }
//     &__text{
//       // color: $secondary-color;
//       writing-mode:vertical-rl;
//       max-height: 350px;
//       font-size: 20px;
//       line-height: 1.5;
//       @include sm{
//         writing-mode:horizontal-tb;
//       }
//     }
//     .section__title{
//       transform: translateY(-50px);
//     }
//     &__mobile{
//       .section__title{
//         line-height: 1.3;
//         letter-spacing: 12px;
//         // &:nth-child(2){
//         //   letter-spacing: 14px;
//         // }
//       }
//     }
//   }
// }

.inner-porduct{
  &__item{
    position: relative;
    &::before{
      position: absolute;
      content: "推薦景點";
      top: 0;
      left: 20px;
      width: 30px;
      padding: 7px;
      color: white;
      background-color: rgba(63, 93, 69,0.8);
      border-radius: 0 0 3px 3px;
    }
    &__text{
      font-size: 28px;  
    }
  }
  .item-coffee{
    color: rgba(32, 22, 3,0.8)	;
    &::before{
      content: "本周咖啡";
      background-color: rgba(32, 22, 3,0.8)	;
    }
  }
} 

.inner-cart{
  &__item{
    align-items:center;
    padding-bottom: 15px;
    + li.inner-cart__item {
      padding-top: 15px;
      border-top: 1px solid #dee2e6;
    }
    @include sm{
      align-items:start;
    }
    &__img{
      width: 200px;
      height: 200px;
      @include sm{
        width: 130px;
        height: 130px;
      }
    }
  }
}

.inner-login{
  // &__item{
  //   max-width:345px ;
  //   transition: 0.3s;
  //   &:hover{
  //     // transform: translateY(-20px);
  //     .inner-login__item__title::before,
  //     .inner-login__item__title::after{
  //       opacity: 1;
  //     }
  //   }
  //   input[id="user"]:focus{
  //     border: 5px solid #8DA291;
  //     &::-webkit-input-placeholder{
  //       color: transparent;
  //     }
  //   }
  // }
  .primary-block{
    max-width:345px ;
    transition: 0.3s;
    &:hover{
      // transform: translateY(-20px);
      .primary-block__title::before,
      .primary-block__title::after{
        opacity: 1;
      }
    }
    &__title{
      position: relative;
      &::before{
        opacity: 0;
        position: absolute;
        content: "";
        width: 35px;
        height: 2px;
        background-color: $secondary-color;
        top: 55%;
        left: 20px;
      }
      &::after{
        opacity: 0;
        position: absolute;
        content: "";
        width: 35px;
        height: 2px;
        background-color: $secondary-color;
        top: 55%;
        right: 20px;
      }
    }
  }
  .secondary-block{
    max-width:345px ;
    transition: 0.3s;
    &:hover{
      // transform: translateY(-20px);
      .secondary-block__title::before,
      .secondary-block__title::after{
        opacity: 1;
      }
    }
    &__title{
      position: relative;
      &::before{
        opacity: 0;
        position: absolute;
        content: "";
        width: 35px;
        height: 2px;
        background-color: $secondary-color;
        top: 55%;
        left: -12px;
      }
      &::after{
        opacity: 0;
        position: absolute;
        content: "";
        width: 35px;
        height: 2px;
        background-color: $secondary-color;
        top: 55%;
        right: -12px;
      }
    }
  }
}

.inner-footer{
  &__mail{
    background-color: $primary-color;
  }
  &__info{
    background-color: $secondary-bg-color;
  }
}
