@mixin hidden_text($width,$height,$bg_url){
	width: $width;
	height: $height;
	text-indent: 101%;
  	overflow: hidden;
 	white-space: nowrap;
 	background-image:$bg_url;
 	background-repeat: no-repeat; 
}


//@media
@mixin xs{
	@media (max-width: 437px) {
		@content
	}
}
@mixin sm{
	@media (max-width: 576px) {
		@content
	}
}
@mixin md{
	@media (max-width: 767px) {
		@content
	}
}
@mixin lg{
	@media (max-width: 1024px) {
		@content
	}
}
@mixin iPhone_Plus{
	@media (max-width: 414px) {
		@content
	}
}

@mixin iPhone5{
	@media (max-width: 320px) {
		@content		
	}
}
