//size
$font-size: 16px;


//font-family
$font-family:'Noto Sans TC',sans-serif;
// $p_font-family:"Microsoft JhengHei";

//bg-color
$primary-bg-color:#EEE;
$secondary-bg-color:#EAF0ED;
$primary-block-color: #3F5D45;
$secondary-block-color: #8DA291;

//active-color
$active-color:#FFE180;

//text-color
$primary-color:#3F5D45;
$secondary-color:#8DA291;




